<%= render "shared/header" %>

<div class="container">

  <select>
    <option selected>All</option>
    <% @tags.each do |tag| %>
      <option><%= link_to "#{tag.tag}(#{tag.count})", :action => :byTag, :tag =>tag.tag %></option>
    <% end %>
  </select>

  <div>
    <%  %> <!-- @images.each do |image| -->
      <a href="/app/create" class="link"><img src="<%=  %>" class="thumb"></a> <!-- "#{S3_IMAGE_BASE}/#{image.src}" -->
    <%  %> <!-- end -->
  </div>
  
  <span class="button u-full-width">Load More</span>

</div>