<div class="header-wrapper">
  <div class="content">
    <h1 class="title"><a href="index.html">Space<span class="gray">Snaps</span></a></h1>
  </div>
</div>

<div class="container">

  <select>
    <option selected>All</option>
    <% @tags.each do |tag| %>
      <option><%= link_to "#{tag.tag}(#{tag.count})", :action => :byTag, :tag =>tag.tag %></option>
    <% end %>
  </select>

  <div>
    <% @images.each do |image| %>
      <a href="/app/create" class="link"><img src="<%= "#{S3_IMAGE_BASE}/#{image.src}" %>" class="thumb"></a>
    <% end %>
  </div>
  
  <span class="button u-full-width">Load More</span>

</div>