<h1>App#browse</h1>
<p>Find me in app/views/app/browse.html.erb</p>
<p>
    <% @tags.each do |tag| %>
        <%= link_to "#{tag.tag}(#{tag.count})", :action => :byTag, :tag =>tag.tag %><br />
    <% end %>
</p>