<%= render "shared/header" %>

<div class="image-wrapper">
  <span class="text text-top js-top-text">You'll Get'em</span>
  <span class="text text-bottom js-bottom-text">Next Time</span>
  <img src="http://placekitten.com/g/350/350" class="image">
</div>

<div class="sharing-wrapper">
  <a href="" target="_blank" class="icon icon-facebook"></a>
  <a href="" target="_blank" class="icon icon-twitter"></a>
  <a href="" target="_blank" class="icon icon-tumblr"></a>
  
  <input type="text" value="http://placekitten.com/g/350/350">
</div>