<%= render "shared/header" %>

<div class="image-wrapper">
  <img src="<%= S3_IMAGE_BASE + '/' + @image.src %>" class="image">
</div>

<div class="sharing-wrapper">
  <a href="" target="_blank" class="icon icon-facebook"></a>
  <a href="" target="_blank" class="icon icon-twitter"></a>
  <a href="" target="_blank" class="icon icon-tumblr"></a>
  
  <input type="text" value="<%= S3_IMAGE_BASE + '/' + @image.src %>">
</div>