/* header.css */

/* Header Wrapper */
.header-wrapper {
  height: 50px;
  padding-top: 13px;
  margin-bottom: 1.5rem;
  color: #fff;
  background: url('background-header.jpg') 0 0 #1f0043;
  background-size: cover;
  box-sizing: border-box;
}

/* SpaceSnaps Logo */
.logo-spacesnaps {
  width: 26px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background: url('logo-spacesnaps.png') 0 0;
  background-size: cover;
}

/* Header Wrapper: Title */
.header-wrapper .title {
  font-size: 24px;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .015625em;
  line-height: 1em;
}

/* Header Wrapper: Title: Anchor */
.header-wrapper .title a {
  color: inherit;
}

.header-wrapper .title .gray {
  color: #ccc;
}